    body {
     background-color: #2748DC;
     margin: 0px;
     padding: 0px;
     font-family: Arial, sans-serif;
     font-size: 0.8em;
     line-height: 1.5;
     
    }
    
    main {
     width: 1500px;
     margin: 2em auto;
     border: 1px solid gray;
     background-color: #ffffff;
     border-radius: 30px;                    /* zaoblene rohy */
     box-shadow: 0px 0px 20px gray;          /* stin boxu */
     }   

    header {
      
      width 100px;
      padding: 10px;          
      text-align: center;
      border-bottom: solid 1px gray;
      background-color: #6B6B6B;
      color: #FFF;
      border-radius: 30px;
     }
     
    header h1 {
     font-size: 4em;
     }
     
    hr {
     width: 880px;
     size: 1;
     color: black;
     float: left;
     }
    /************************************************/
    aside {
     float: right;
     width: 300px;
     margin: 10px;
     padding: 10px;
     background-color: #efefef;
     border-radius: 10px;
     
     }
     
    aside article {
     padding-top: 5px
     }
    aside h5 {
     text-align: center;
    
    }
    /************************************************/ 
    nav {
     float: left; 
     width: 200px;
     margin: 20px;
     background-color: #efefef;
     border-radius: 10px;
     }

    nav h3 {
     margin: 10px;
     text-align: center;
     background-color: #6B6B6B;
     color: #FFF;
     padding 10px;
     border-radius: 10px;
     }
     
     nav ul {
     }
     
     nav ul li, 
     nav ul li a {
     text-indent: 10px;
     display: block;
     }
     
     nav ul li a:link, 
     nav ul li a:visited {
     text-decoration: none;
     color: #000;
     fond-size: 1.1em;
     padding: 10px;
     margin-right: 10px;
     }
     
     nav ul li a:hover, 
     nav ul li a:active {
     text-indent: 10px;
     background-color: #6B6B6B;
     border-radius: 10px;
     }
     /************************************************/
    section {
     width: 880px;
     margin-left: 240px;
     padding: 20px;
     border-left: solid 1px gray;
     border-right: solid 1px gray;
     text-align: justify;

     }
    
    section article p {
     padding-left: 20px;
    }
    
    section article a {
     width: 50px;
     text-align: center;
     background-color: #efefef;
     display: block;
    }
    section article a:link,
    section article a:visited {
     text-decoration: none;
     color: #000;
     fond-size: 1.1em;
     padding: 5px;
     margin-right: 5px;
    }
    
    section article a:hover, 
    section article a:active {
     
     background-color: #6B6B6B;
     border-radius: 10px;
     }
    /************************************************/
    article.ZDROJE a{
     width: 830px;
     text-align: center;
     background-color: #efefef;
     display: block;
    }
    
    article.ZDROJE a:link,
    article.ZDROJE a:visited{
     text-decoration: none;
     color: #000;
     fond-size: 1.1em;
     padding: 5px;
     margin-right: 5px;
    }
    
    article.ZDROJE a:hover
    article.ZDROJE a:active{
     background-color: #6B6B6B;
     border-radius: 10px;
    }   
    /************************************************/
    footer {
     
     text-align: center;
     border-top: solid 1px gray;
     clear: both;

     }

     li {
      list-style-type: none;
      margin-left: -30px
      
     }
     
     img.hamburger, ul ul
     {
      display: none;
     }